---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contactez le Comptoir de l'IA">
  <Header />
  <main>
    <HeroSection 
      title="Contactez-moi" 
      description="Je suis là pour répondre à toutes vos questions concernant le Comptoir de l'IA."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
